body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    margin: 0;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('./banner3.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

.intro {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

.intro h1 {
    font-size: 2.5rem;
}

.intro p {
    font-size: 1.5rem;
}

#categories {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
}

#categories nav ul {
    list-style:0 ;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#categories nav ul li {
    margin: 0 15px;
}

#categories nav ul li a {
    color: #fff;
    text-decoration: none;
}

#products {
    padding: 40px 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    color: #000;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: calc(20% - 40px); /* Adjust width to fit 4 products per row */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease; /* Transition for hover effect */
}

.product:hover {
    transform: scale(1.05); /* Scale up the product on hover */
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product p {
    font-size: 0.9rem;
    margin: 10px 0;
    flex-grow: 1;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; /* Add margin to separate from text */
}

/* Responsive styles */
@media (max-width: 1024px) {
    .product {
        width: calc(33.333% - 40px); /* 3 products per row on tablets */
    }
}

@media (max-width: 768px) {
    .product {
        width: calc(50% - 40px); /* 2 products per row on mobile */
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%; /* 1 product per row on very small screens */
    }
}
